.dropdown_item {
  position: relative;
  display: flex;
  align-items: center;

  .dropdown_link {
    height: 100%;
    font-size: 16px;
    padding: 10px 30px 10px 20px;
    border-radius: 8px;
    font-weight: 500;
    line-height: 20px;
    transition: background-color var(--transition-02);

    &::before {
      position: absolute;
      content: '';
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      background-image: url('/src/assets/downarrow_121316.svg');
      background-repeat: no-repeat;
      width: 12px;
      height: 12px;
      background-size: cover;
      opacity: 1;
      transition: all var(--transition-02);
    }

    &:hover {
      background-color: var(--gray);
    }
  }

  &:hover {
    .dropdown_menu {
      visibility: visible;
      opacity: 1;
      display: flex;
      transform: translateY(20px);
    }
  }

  .dropdown_menu {
    top: 60%;
    width: 100%;
    gap: 5px;
    display: flex;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 10;
    background-color: #fff;
    flex-direction: column;
    padding: 15px;
    border: 1.2px solid var(--gray);
    border-radius: 8px;
    transition: all var(--transition-02);

    a {
      display: inline-block;
      transition: transform var(--transition-02);

      &:hover {
        transform: translateX(5px);
      }
    }
  }
}
