.btn {
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  justify-self: flex-end;
  text-align: center;
  max-width: 150px;
  border: $border;
  background-color: $white;
  transition: background-color $transition-02;

  &:hover {
    background-color: $gray;
  }

  &:active {
    background-color: $gray-darken;
  }

  &.red {
    border-color: $red;

    &:hover {
      background-color: $red;
    }

    &:active {
      background-color: $gray-darken;
    }
  }

  &.green {
    border-color: $green;

    &:hover {
      background-color: $green;
    }

    &:active {
      background-color: $gray-darken;
    }
  }
}
