.btn {
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 16px;
  font-size: 16px;
  width: 300px;
  border: 1.2px solid var(--gray);
  transition: all var(--transition-02);

  &:hover {
    background-color: var(--gray);
    transform: translateY(-5px);
    box-shadow: var(--shadow);
  }

  &:active {
    background-color: var(--gray-darken);
  }
}
