.news {
  display: flex;
  flex-direction: column;
  gap: $section-inner-gap;
}

// .countries_languages {
//   position: absolute;
//   left: 2rem;
//   top: 3.5rem;
//   color: #bebebe;
//   @include fadeInTransform;

// }

.news_container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .news_row {
    align-items: start;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;

    &:nth-child(odd) {
      grid-template-columns: 3fr 2fr;
    }

    &:nth-child(even) {
      grid-template-columns: 2fr 3fr;
    }
  }

  @media (max-width: 768px) {
    .news_row {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}

.more_btn_container {
  display: flex;
  justify-content: center;
}

.shown_message {
  width: 100%;
  text-align: center;
}
