.header {
  position: sticky;
  background-color: $white;
  z-index: 5;
  top: 0;
  border-radius: 0 0 30px 30px;
  border-bottom: $border;

  .header_inner {
    max-width: 1290px;
    margin: 0 auto;
    padding: 0 2rem;

    nav {
      position: relative;
      padding: 15px 0;
      display: flex;
      justify-content: space-between;

      .nav_links {
        display: flex;
        gap: 20px;
      }
    }

    @media (max-width: 768px) {
      nav {
        justify-content: center;

        .nav_links {
          display: none;
        }

        .search_settings {
          width: 100%;
          justify-content: space-between;
        }
      }
    }

    .mobile_menu {
      @include fadeInTransform;
      padding-bottom: 15px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .search_settings {
    height: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
  }
}
