.footer {
  background-color: var(--gray);

  .footer_inner {
    max-width: 1290px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    gap: 10px;
    font-size: 14px;

    a {
      text-decoration: underline;
    }
  }
}
