.news_card {
  background-color: $white;
  padding: 1rem;
  border-radius: 8px;
  outline: $border;
  gap: 20px;
  display: flex;
  flex-direction: column;
  // box-shadow: $shadow;
  @include fadeInTransform;

  .news_text_container {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    .text_container_inner {
      display: flex;
      flex-direction: column;
      gap: 15px;

      h2 {
        font-weight: 600;
        font-size: 25px;
      }

      .author {
        font-size: 14px;
        opacity: 0.5;
      }

      .source_date_container {
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        opacity: 0.5;

        .publish_date {
          text-align: right;
        }
      }

      p {
        font-size: 18px;
      }
    }
  }

  .news_img_container {
    min-height: 100px;
    max-height: 200px;
    border-radius: 8px;
    overflow: hidden;
    background-color: $gray;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: 1200px) {
  .news_card {
    flex-direction: column-reverse;

    .news_img_container {
      width: 100%;
    }
  }
}
