.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  @include fadeIn;

  .modal {
    position: relative;
    background: $white;
    display: flex;
    gap: 20px;
    flex-direction: column;
    border: $border;
    padding: 2rem;
    width: 85%;
    max-width: 360px;
    padding-top: 160px;
    border-radius: 8px;
    box-shadow: $shadow;
    text-align: center;
    @include fadeInTransform;

    &::after {
      content: '';
      position: absolute;
      width: 100px;
      height: 100px;
      top: 30%;
      left: 50%;
      background-image: url('/src/assets/exclamation-mark-svgrepo-com.svg');
      background-repeat: no-repeat;
      background-size: cover;
      transform: translate(-50%, -50%);
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      gap: 10px;
    }
  }
}
