.burger_btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30px;
  height: 20px;
  position: relative;

  span {
    display: block;
    position: absolute;
    width: 100%;
    height: 1.5px;
    background: $black;
    opacity: 0.4;
    border-radius: 2px;
    transition: all $transition-02;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }

    &:nth-child(3) {
      bottom: 0;
    }
  }

  &.active span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }

  &.active span:nth-child(2) {
    opacity: 0;
  }

  &.active span:nth-child(3) {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
}

@media (max-width: 768px) {
  .burger_btn {
    display: flex;
  }
}
